@model Conference.Entities.Conference


<div class="row" id="conferenceDetail">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-6">
            <div class="form-horizontal">
                <h4>Conference Detail</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Conference/Room Id", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    @Html.Label("User Name", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.SessionId, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    <div>@Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })</div>
                </div>

                @Html.HiddenFor(model => model.UrlCode, new { htmlAttributes = new { @class = "form-control" , @id="UrlCode"} })
                               
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="button" value="Create" onclick="SetupNewConference()" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div  class="row col-lg-12">
    <div id="videoContainer"  class="col-lg-9" style="display:none">       
        <div class="panel with-nav-tabs panel-primary"  style="height:50px"> 
            <div class="tab-pane">
                <ul class="nav nav-tabs panel-background">
                    <li class="panel-li"><button class="btn panel-btn" title="UnMute" id="muteBtn"><i class="fa fa-microphone-slash fa-2x"></i></button></li>
                    <li class="panel-li"><button class="btn panel-btn" title="Record Conference" id="recordBtn"><i class="fa fa-play-circle fa-2x"></i></button></li>
                    <li class="panel-li"><button class="btn panel-btn" title="Show/Hide Chat" id="chatBtn"><i class="fa fa-comment fa-2x"></i></button></li>
                    <li class="panel-li"><button class="btn panel-btn" title="Invite User(s)" id="inviteBtn"><i class="fa fa-user-plus fa-2x"></i></button></li>
                    <li class="panel-li"><button class="btn panel-btn" title="Share Screen" id="shareScreenBtn"><i class="fa fa-desktop fa-2x"></i></button></li>
                    <li class="panel-li"><button class="btn panel-btn" title="Share File(s)" id="shareFileBtn"><i class="fa fa-file fa-2x"></i></button></li>
                    <li class="panel-li"><button class="btn panel-btn" title="Close Entire Conference" id="endConferenceBtn"><i class="fa fa-power-off fa-2x"></i></button></li>
                    <li class="dropdown panel-li" >
                        <a href="#" data-toggle="dropdown" class="btn panel-btn" title="More"><i class="fa fa-chevron-circle-down fa-2x"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#tab4primary" data-toggle="tab">Primary 4</a></li>
                            <li><a href="#tab5primary" data-toggle="tab">Primary 5</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-tabs">
                    <li class="panel-li"><p id="mutePara" style="text-align:center;padding-left:0px">UnMute</p></li>
                    <li class="panel-li"><p id="recordPara" style="text-align:center;padding-left:0px">Record</p></li>
                    <li class="panel-li"><p style="text-align:center;padding-left:0px">Chat</p></li>
                    <li class="panel-li"><p style="text-align:center">Invite</p></li>
                    <li class="panel-li"><p style="text-align:center">Screen</p></li>
                    <li class="panel-li"><p style="text-align:center">File</p></li>
                    <li class="panel-li"><p style="text-align:center; padding-left:0px">Quit</p></li>
                    <li class="panel-li"><p>More</p></li>
                </ul>
</div>
            
        </div>   
        <div>
            <input id="shareFileInput" type="file" style="display: none;">
        </div>
        
        <section>
            @*<table style="width: 100%; " id="videoContainer" >
                <tr>
                    <td id="local-video-container" style="background: #F2F5F8;">
                        <h3 style="font:#ffffff">Me</h3>                                              
                    </td>
                    <td id="remote-videos-container" style="background: #F2F5F8;">
                        <h3 style="font:#ffffff">
                            Peer(s)
                        </h3>
                    </td>
                </tr>             

            </table>*@

            <div class="video-table" id="local-video-container"></div>
            <div class="video-table" id="remote-videos-container"></div>
            
                
</section>
    </div>    

    <div class="col-lg-2" id="chatContainer" style="display:none">
        <div class="clearfix">
                          
            <div class="chat">
                <div class="chat-header clearfix">
                    
                    <div class="chat-about">
                        <div class="chat-with">Group Chat with Participants</div>                        
                    </div>
                    <i class="fa fa-star"></i>
                </div> <!-- end chat-header -->

                <div class="chat-history">
                    <ul id="chat-history-list">                       

                    </ul>

                </div> <!-- end chat-history -->

                <div class="chat-message clearfix">
                    <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>

                    <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-file-image-o"></i>

                    <button id="chatSendBtn">Send</button>

                </div> <!-- end chat-message -->

            </div> <!-- end chat -->
            
        </div> <!-- end container -->
        <div id="logs"></div>
    </div>
    </div>

<script id="message-template" type="text/x-handlebars-template">
    <li class="clear-fix">
        <div class="message-data align-right">           
            <span class="message-data-name">{{sender}}</span> <i class="fa fa-circle me"></i> &nbsp; &nbsp;
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{sender}}</span> &nbsp; &nbsp;
            <span class="message-data-time">{{time}}, Today</span>
           
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>

<div class="modal fade" id="roomUrlModal" tabindex="-1" role="dialog" aria-labelledby="roomUrlModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unique URL for your room</h5>               
            </div>
            <div class="modal-body">
                <div id="room-urls" style="text-align: center;display: none;margin: 15px -10px;border-left: 0;border-right: 0;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>

            </div>
        </div>
    </div>
</div>


<style>
   
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 50%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  width: 400px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 475px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*#chat-history-list {
    list-style: none
}*/







</style>

